

header {
  text-align: center;
  background: url('images/hotdog.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

.card img {
  height: 40px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.email {
  font-size: 1.5em;
  font-weight: bold;
  color: #737373;
}